<div class="container">
  <div class="row p-10 pt-5">
    <div class="col-md-4">
      <div class="card p-5">
        <div class="imgs mb-3"><img src="assets/add.png" alt="add event"></div>
        <a routerLink="/add" class="stretched-link mb-3">Add An Event</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-5">
        <div class="imgs mb-3"><img src="assets/update.png" alt="Update An event"></div>
        <a routerLink="/update" class="stretched-link mb-3">Update An Event</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-5">
        <div class="imgs mb-3"><img src="assets/delete.png" alt="Delete an event"></div>
        <a routerLink="/delete" class="stretched-link mb-3">Delete An Event</a>
      </div>
    </div>
  </div>
</div>
