<div class="row">
  <div class="col-1">

  </div>
  <div class="col-5 " >
      <br>
      <br>
      <br>
      <h1  class="text-center"  ><strong>WElCOME  BACK</strong></h1>
      <p class="text-center" style="color : #5B5C5D; font-size:larger  "> Welcome back ! please enter your details.</p>
      <form class="was-validated ">
          <br>
          <br>
          <br>
          &nbsp;&nbsp; <label class="form-label" for="mail">E-mail</label>
          <input type="email" class="form-control" id="mail" placeholder="E-mail" required="">
          <div class="invalid-feedback">
              champ obligatoire
          </div>
          <br>
          &nbsp;&nbsp;&nbsp;<label class="form-label" for="mdp">Password</label>
          <input type="password" class="form-control" placeholder="Password" required="">
          <div class="invalid-feedback">
              champ obligatoire
          </div>
          </form>
          <br><br><br><br>

          <div class="d-grid gap-2">
              <button type="button" routerLink="/clubs" class="btn" style="background-color : #497B79 ; border-color :  #497B79 ; color : white ">SIGN IN</button>
          </div>
          <br>
          <!-- provisoire -->
          <div class="d-grid gap-2">
            <button type="button" routerLink="/buttons" class="btn" style="background-color : #497B79 ; border-color :  #497B79 ; color : white ">SIGN IN As Admin</button>
          </div>
          <!-- provisoire -->
          <br>
          <div class="row">
              <div class="col-7">
                  <p class="text-center " style=" color:#5B5C5D ; font-size:medium ">Don't have an account ? </p>
              </div>
              <div class="col-4">
                  <div class="d-grid gap-2">
                      <button type="button"  routerLink="/form" class="btn btn-link" style="color : #497B79 ; font-size:medium "  > Sign up</button>

                  </div>
              </div>
          </div>

     <br>
     <br>
     <br>
  </div>
  <div class="col-1">

  </div>
  <div class="col-5" style="background-color:#497B79 ;  height:861px ; width: 41.66%; ">

      <br><br><br><br><br><br><br>

      <img src="../../../assets/welcom back.png"  class="img-fluid mx-auto d-block" width="200" height="200"><br>
      <p class="text-center " style=" color:white ;  font-size:x-large">Make a Diffrence With Our Charity Web site </p>
      <p class="text-center " style=" color:white ; font-size:x-large">EVERY CLICK COUNTS! </p><br><br><br>
      <p  style="color : #497B79; font-size: medium  "> Welcome back ! please enter your details.</p><br>


 </div>


</div>
