<div class="container" style="margin:auto;">
  <div class="card-container">
  <div class="card">
    <div class="box">
      <div class="content">
        <img src="../../../assets/CRT.png" width="200" height="120" alt="add event">
        <h2>CRT</h2>
        <p>The Tunisian Red Crescent is a humanitarian organization recognized by the government and a member of the International Red Cross and Red Crescent Movement. It was established in 1956 to provide voluntary relief services.</p>
        <a routerLink="/events" class="btn stretched-link mb-3 text-dark">See my events</a>
        <p>mail:CRT@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <div class="content">
        <img src="../../../assets/Logo_JCI.png" width="110" height="90" alt="add event">
        <h2>JCI</h2>
        <p>JCI is a global network of 200,000 young professionals and entrepreneurs in over 100 countries. Their mission is to provide development opportunities for young people to create positive change. JCI executes programs and events towards this goal.</p>
        <a routerLink="/events" class="btn stretched-link mb-3 text-dark">See my events</a>
        <p>mail:JCI@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <div class="content">
        <img src="../../../assets/طفل-وابتسامة.png" width="100" height="100" alt="add event">
        <h2>Un enfant, des sourires</h2>
        <p>l’association «un enfant, des sourires» à but non lucratif : est une association apolitique à caractère social et humanitaire. créée en avril 2011 par des jeunes volontaires tunisiens pour venir en aides aux enfants défavorisés.</p>
        <a routerLink="/events" class="btn stretched-link mb-3 text-dark">See my events</a>
        <p>mail: enfant_sourires@gmail.com</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="box">
      <div class="content">
        <img src="../../../assets/tunisiacharity.png" width="150" height="110" alt="add event">
        <h2>Tunisia Charity</h2>
        <p>Tunisia Charity is a non-profit NGO that serves the community through charitable and development projects, supporting youth entrepreneurship, and organizing charity campaigns. They collaborate with local and international funding partners.</p>
        <a routerLink="/events" class="btn stretched-link mb-3 text-dark">See my events</a>
        <p>mail: Tunisia_Charity@gmail.com</p>
      </div>
    </div>
  </div>
</div>
</div>
