<div class="container">
    <div class="row select-event-header">
        <div class="col-5">
          <img class="img-fluid mx-auto d-block img" src="https://www.croissant-rouge.tn/logo.png" alt="delete logo" width="50">
        </div>
        <div class="col-7"><p class="fw-lighter text-white text">SELECT EVENT </p></div>
       </div>
      <br><br>
      <h2 class="heading">
        Events
      </h2>

    <div class="event-card">
        <div class="left">
          <div class="date-time">
            <p class="date">TODAY</p>
          </div>

          <div class="event-info">
            <h4 class="event-title">
              Blood Drive for Local Hospitals
            </h4>
            <h6 class="event-place">
              The Mall of Tunisia, Tunis
            </h6>
            <p class="event-about">
              Give the gift of life by donating blood at our community blood drive. All blood donations will go to support local hospitals and patients in need. The blood drive will take place from 10:00 AM to 4:00 PM.
            </p>
          </div>
        </div>

        <div class="right">
          <button type="button" class="btn mt-3 save-btn Select-from-list">
            <i class="fa-solid fa-trash ion-icon"></i> SELECT
          </button>
        </div>

    </div>
    <div class="event-card">
        <div class="left">
          <div class="date-time">
            <p class="date">TODAY</p>
          </div>

          <div class="event-info">
            <h4 class="event-title">
              Blood Drive for Local Hospitals
            </h4>
            <h6 class="event-place">
              The Mall of Tunisia, Tunis
            </h6>
            <p class="event-about">
              Give the gift of life by donating blood at our community blood drive. All blood donations will go to support local hospitals and patients in need. The blood drive will take place from 10:00 AM to 4:00 PM.
            </p>
          </div>
        </div>

        <div class="right">
          <button type="button" class="btn mt-3 save-btn Select-from-list">
            <i class="fa-solid fa-trash ion-icon"></i> SELECT
          </button>
        </div>

    </div>
    <div class="event-card">
        <div class="left">
          <div class="date-time">
            <p class="date">TODAY</p>
          </div>

          <div class="event-info">
            <h4 class="event-title">
              Blood Drive for Local Hospitals
            </h4>
            <h6 class="event-place">
              The Mall of Tunisia, Tunis
            </h6>
            <p class="event-about">
              Give the gift of life by donating blood at our community blood drive. All blood donations will go to support local hospitals and patients in need. The blood drive will take place from 10:00 AM to 4:00 PM.
            </p>
          </div>
        </div>

        <div class="right">
          <button type="button" class="btn mt-3 save-btn Select-from-list">
            <i class="fa-solid fa-trash ion-icon"></i> SELECT
          </button>
        </div>

    </div>
  </div>
