<div class="row">
  <div class="col-5"  style="background-color:#497B79 ;  height:861px ; width: 41.66%; ">
      <br><br><br><br><br><br><br>
      <img src="../../../assets/new account.png"  class="img-fluid mx-auto d-block" width="250" height="250"><br>
      <p class="text-center" style=" color:white ; font-size:x-large ">Please Fill In Your Informations </p>
  </div>
  <div class="col-1"></div>
  <div class="col-5">
      <br><br><br>
      <h2  class="text-center"  ><strong>   CREATE NEW ACCOUNT</strong></h2><br><br>
      <form class="was-validated ">
          <div class="row">
              <div class="col-6">
                  <br><br>

                      <div class="input-group mb-3">
                          <span class="input-group-text" id="first">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>
                          </span>
                          <div class="form-floating  ">
                              <input type="text" class="form-control" id="first" placeholder="First name" required="" >
                              <label class="form-label">First name</label>
                          </div>
                     </div>
              </div>
              <div class="col-6">
                  <br><br>
                  <div class="input-group mb-3">
                      <span class="input-group-text" id="last">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                      </span>
                      <div class="form-floating  ">
                          <input type="text" class="form-control" id="last" placeholder="Last name" required="">
                          <label class="form-label">Last name</label>
                      </div>

                 </div>
              </div>
          </div><br>
          <div class="input-group mb-3">
              <span class="input-group-text" id="lock">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                      <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                    </svg>
              </span>
              <div class="form-floating  ">
                  <input type="password" class="form-control" id="mdp" placeholder="Password" required="" >
                  <label class="form-label">Password</label>
              </div>
         </div><br>
         <div class="input-group mb-3">
              <span class="input-group-text" id="secure">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-fill-check" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm2.146 5.146a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647z"/>
                    </svg>
              </span>
              <div class="form-floating  ">
                  <input type="text" class="form-control" id="CIN" placeholder="CIN" required="" >
                  <label class="form-label">CIN</label>
              </div>
          </div> <br>
          <div class="row">
              <div class="col-6">
          <div class="input-group mb-3">
              <span class="input-group-text" id="blood">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-droplet-fill" viewBox="0 0 16 16">
                      <path d="M8 16a6 6 0 0 0 6-6c0-1.655-1.122-2.904-2.432-4.362C10.254 4.176 8.75 2.503 8 0c0 0-6 5.686-6 10a6 6 0 0 0 6 6ZM6.646 4.646l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448c.82-1.641 1.717-2.753 2.093-3.13Z"/>
                    </svg>
              </span>
              <div class="form-floating">
                  <select class="form-select" id="blood" aria-label="Floating label select example">
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="0+">O+</option>
                    <option value="O-">O-</option>
                  </select>
                  <label for="blood">Blood Type</label>
                </div>
          </div></div></div><br><br><br>
          <div class="d-grid gap-2">
              <button type="submit" class="btn" routerLink="/clubs" style="background-color : #497B79 ; border-color :  #497B79 ; color : white ">REGISTER</button>
          </div>







      </form>

  </div>
  <div class="col-1"></div>


<!-- </div> -->
</div>
