<div class="app-container">
  <div class="container">
    <div class="row delete-event-header">
      <div class="col-5">
        <img class="img-fluid mx-auto d-block img" src="assets/delete.png" alt="delete logo" width="50">
      </div>
      <div class="col-7"><p class="fw-lighter text-white text">DELETE EVENT </p></div>
    </div>
    <br><br>
    <h2 class="heading">
      Events
    </h2>

    <div class="event-card">
      <div class="left">
        <div class="date-time">
          <p class="date">TODAY</p>
        </div>

        <div class="event-info">
          <h4 class="event-title">
            Blood Drive for Local Hospitals
          </h4>
          <h6 class="event-place">
            The Mall of Tunisia, Tunis
          </h6>
          <p class="event-about">
            Give the gift of life by donating blood at our community blood drive. All blood donations will go to support local hospitals and patients in need. The blood drive will take place from 10:00 AM to 4:00 PM.
          </p>
        </div>
      </div>

      <div class="right">
        <button type="button" class="btn mt-3 save-btn Delete-from-list" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <!-- <i class="fa-solid fa-pen-to-square ion-icon"></i> Modify -->
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-x" viewBox="0 0 16 16"  class="fa-solid fa-pen-to-square ion-icon">
            <path d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
            <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
          </svg>Delete
        </button>
      </div>
    </div>
  </div>
</div>


